:root {
    --primary-color: #e4fde1;
    --secondary-color: #8acb88 ;
    --accent1-color: #30343f;
    --accent2-color: #1e2749;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--accent1-color);
    display: grid; /* Use CSS Grid */
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 1em;
    margin: 0;
}

header img {
    display: block;
    grid-column: 1;
    margin-right: 10px;
}

.icon {
    width:  75px;
    aspect-ratio: 1 / 1;
}

header h3 {
    font-family: "Bradley Hand ITC", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    color: white;
    margin: 0;
    grid-column: 2;
    justify-self: start;
}

nav {
    grid-column: 3;
    display: grid; /* Use CSS Grid for the nav element */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Create 4 equal columns for the nav items */
    gap: 0; /* Remove spacing between items */
    justify-self: end; /* Align the nav to the end of the header */
    padding: 0; /* Remove padding around the nav */
    margin: 0; /* Remove margin around the nav */
    align-items: center; /* Vertically center the items */
}

nav ul {
    display: contents; /* Allow the grid layout to apply directly to the <li> elements */
    list-style: none; /* Remove default list styling */
    margin: 0; /* Remove margin around the list */
    padding: 0; /* Remove padding around the list */
}

nav li {
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    padding: 0; /* Remove padding inside the list items */
    height: 100px; /* Keep the height consistent */
    width: 150px;
    margin: 0; /* Remove margin around the list items */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav li:hover {
    background-color: #4b5163; /* Change background color on hover */
    transform: scale(1.1); /* Slightly enlarge the element on hover */
    transition: 0.4s
}

nav li:hover a {
    color: white;
    transition: 0.4s
}

nav li:first-child:hover {
    background-color: #4b5163; /* Different background color for the first child */
}

nav li:first-child {
    background-color: #292d36; /* Different background color for the first child */
}

nav li:first-child a {
    color: white; /* Different background color for the first child */
    font-size: large;
}

nav a {
    text-decoration: none;
    color: lightslategray;
    text-align: center; /* Center-align the text inside the grid cells */
    padding: 0; /* Remove padding inside the links */
    margin: 0; /* Remove margin around the links */
    font-size: large;
    
}