:root {
    --primary-color: #e4fde1;
    --secondary-color: #8acb88;
    --accent1-color: #30343f;
    --accent2-color: #1e2749;
    --text-color: #ffffff;
    --hover-color: #4b5163;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

header {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1em;
    margin: 0;
}

header img {
    display: block;
    grid-column: 1;
    margin-right: 10px;
    width: 75px;
    aspect-ratio: 1 / 1;
}

header h3 {
    font-family: "Bradley Hand ITC", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    color: var(--text-color);
    margin: 0;
    grid-column: 2;
    justify-self: start;
}

nav {
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    justify-self: end;
    padding: 0;
    margin: 0; 
    align-items: center;
}

nav ul {
    display: contents;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em; 
    background-color: var(--secondary-color);
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 100px; 
    width: 150px;
    margin: 0; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav li:hover {
    background-color: var(--hover-color);
    transform: scale(1.1); 
}

nav li:hover a {
    color: var(--text-color);
}

nav li:first-child:hover {
    background-color: var(--hover-color);
}

nav li:first-child {
    background-color: #292d36; 
}

nav li:first-child a {
    color: var(--text-color); 
    font-size: large;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
    text-align: center; 
    padding: 0; 
    margin: 0; 
    font-size: large;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--text-color);
}

main {
    padding: 2em;
}

#popular-games {
    text-align: center;
    margin: 2em 0;
}

.games-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1em; 
    justify-items: center; 
    align-items: center; 
    margin: 1em 0;
}

.games-display img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.games-display img:hover {
    transform: scale(1.1);
}

#popular-games img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#popular-games img:hover {
    transform: scale(1.1);
}

#cerate-your-own {
    text-align: center;
    margin: 2em 0;
    padding: 2em;
    background-color: var(--primary-color);
    border: 2px solid var(--accent1-color);
    border-radius: 10px;
}

#cerate-your-own h2 {
    color: var(--accent1-color);
    font-size: 2em;
    margin-bottom: 1em;
}

.text-box {
    background-color: var(--secondary-color);
    color: var(--accent1-color); 
    padding: 1em;
    margin: 1em auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-box p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.5;
}

#cerate-your-own img {
    margin-top: 2em;
    max-width: 100%;
    height: auto;
    border: 2px solid var(--accent1-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#call-to-action {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 2em 0;
    padding: 2em 0;
    background-color: var(--primary-color);
}

.action-box {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box h2 {
    margin: 0;
    font-size: 1.8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.action-box:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
    color: var(--text-color);
}

#intro {
    text-align: center;
    margin: 2em auto;
    padding: 2em;
    max-width: 800px;
    font-size: 1.5em;
    line-height: 1.8;
    color: var(--accent1-color);
}

#intro h2 {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: var(--accent1-color);
}

#intro p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.8;
}

.intro-box {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 1.5em;
    margin: 1em auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--accent1-color);
}

.intro-box p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.8;
}

footer {
    background-color: var(--accent1-color);
    color: var(--text-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.3s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer a:hover {
    color: var(--text-color);
}

footer p {
    color: var(--text-color);
}